<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="spacer"></div>
    </div>
    <div class="col-md-1"></div>
</div>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="jumbotron">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <img src="/../../../../../public/images/raphael_hippe.JPG" alt="Raphael Hippe">
                            <!-- <div class="caption">
                                <h3>Thumbnail label</h3>
                                <p>...</p>
                                <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                            </div> -->
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-8">
                      <h1>Raphael Hippe</h1>
                      <p>My name is Raphael Hippe, I am 22 years old and currently studying in Karlsruhe, Germany.</p>
                      <p>Student - Media Communication and Computer Science: currently doing my bachelor thesis on Angular 2</p>
                      <button class="btn btn-primary btn-lg" [routerLink]="['/reference']" role="button">Learn more about me</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="spacer"></div>
    </div>
    <div class="col-md-1"></div>
</div>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="spacer"></div>
    </div>
    <div class="col-md-1"></div>
</div>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="spacer"></div>
    </div>
    <div class="col-md-1"></div>
</div>
