<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <div class="spacer"></div>
  </div>
  <div class="col-md-1"></div>
</div>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <h1>About IT Knowledge Exchange</h1>
  </div>
  <div class="col-md-1"></div>
</div>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <p>
      IT Knowledge Exchange (IKE) is about spreading knowledge based in information technology.
      <br> Every developer is interesting - and therefor trying to become an expert - in a slightly different field of IT. Thats why we are trying to set up meetings once a month to get others interested in the different fields.
      <br> Usually we have three presentations each 20 minutes + 10 minutes discussion / questions time.
    </p>
  </div>
  <div class="col-md-1"></div>
</div>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <h1>Upcoming Events</h1>
  </div>
  <div class="col-md-1"></div>
</div>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <div class="alert alert-info">
      The titles of the presentations are sometimes in german since this group so far only holds german speakers.
    </div>
  </div>
  <div class="col-md-1"></div>
</div>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <div class="panel panel-default">
      <div class="panel-body bg-primary">
        <b>Date:</b> 20th of Octobre 2016
        <br><b>Location:</b> Hochschule Karlsruhe - Technik und Wirtschaft EXXX
        <br><b>Time:</b> 16:00 - 17:30
        <br><b>1st Presentation:</b> PHP: Fluch oder Segen?
        <br><b>2nd Presentation:</b> Was ist eigentlich dieses Docker?
        <br><b>3rd Presentation:</b> HipsterFramework2: aka Angular 2
      </div>
    </div>
  </div>
  <div class="col-md-1"></div>
</div>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <h1>Previous Events</h1>
  </div>
  <div class="col-md-1"></div>
</div>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <div class="alert alert-info">
      So far we had three meetings with a total of eight or nine presentations. They were all prior of the creation of this website so I will try to get all the old slides and upload them.
    </div>
  </div>
  <div class="col-md-1"></div>
</div>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <div class="spacer"></div>
  </div>
  <div class="col-md-1"></div>
</div>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <div class="spacer"></div>
  </div>
  <div class="col-md-1"></div>
</div>
