<footer class="cl-footer-css">
    <div class="row">
        <div class="col-sm-6 col-lg-3">
            <div class="cl-m-t-25 cl-m-b-25">
                <span class="footer-headline">NAVIGATION</span>
            </div>
            <div>
                <a [routerLink]="['/home']">HOME</a>
            </div>
            <div>
                <a [routerLink]="['/reference']">REFERENCE</a>
            </div>
            <div>
                <a [routerLink]="['/it-knowledge-exchange']">IT KNOWLEDGE EXCHANGE</a>
            </div>
        </div>
        <div class="col-sm-6 col-lg-3">
            <div class="cl-m-t-25 cl-m-b-25">
                <span class="footer-headline">LEGAL NOTICE</span>
            </div>
            <div>
                <a [routerLink]="['/impressum']">IMPRESSUM</a>
            </div>
        </div>
        <div class="clearfix visible-sm-block visible-md-block"></div>
        <div class="col-sm-6 col-lg-3">
            <div class="cl-m-t-25 cl-m-b-25">
                <span class="footer-headline">HELP</span>
            </div>
            <div>
                <a>Contact Me:</a>
            </div>
            <div>
              <a>info[at]raphaelhippe[dot]de</a>
            </div>
        </div>
        <div class="col-sm-6 col-lg-3">
            <div class="cl-m-t-25 cl-m-b-25">
                <span class="footer-headline">CONNECT</span>
            </div>
            <div>
                <a href="https://www.twitter.com/CLYouchra/" target="_blank">Twitter</a>
            </div>
            <div>
                <a href="https://www.twitch.tv/atmyouchra/" target="_blank">Twitch</a>
            </div>
            <div>
                <a href="https://www.youtube.com/TheYouchra/" target="_blank">Youtube</a>
            </div>
            <div>
                <a href="hhttps://www.xing.com/profile/Raphael_Hippe" target="_blank">XING</a>
            </div>
        </div>
    </div>
    <!-- Footer Horizontal line -->
    <div class="row">
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
        </div>
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
            <hr>
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
        </div>
    </div>
    <!-- Footer RaphaelHippe rights reserved -->
    <div class="row">
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
        </div>
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
            &copy; RaphaelHippe all rights reserved
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
        </div>
    </div>
</footer>
